<app-header-layout title="Versiones" />

<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; min-height: 70vh; background: #000000;">
    <table
      style="border-collapse: collapse; min-width: 400px; background: #342a2a; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);">
      <thead>
        <tr>
          <th style="padding: 12px 16px; border-bottom: 2px solid #1976d2; color: #1976d2; text-align: left;">ID</th>
          <th style="padding: 12px 16px; border-bottom: 2px solid #1976d2; color: #1976d2; text-align: left;">
            Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ver of versiones">
          <td style="padding: 10px 16px; border-bottom: 1px solid #000000;">{{ ver.id }}</td>
          <td style="padding: 10px 16px; border-bottom: 1px solid #000000;">{{ ver.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>