<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true" *ngFor="let page of appPages">
        <ion-item routerLink="{{ page.url }}" routerDirection="root">
          <ion-icon slot="start" [name]="page.icon"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>